body {
	font-family: Calibri, sans-serif;
	text-align: center;
	background-color: #e6e6e6;
	color: #383838;
	margin: 0;
}

h1 {
	font-size: 3rem;
}

p {
	font-size: 18px;
}

#img-div {
	background-color: white;
	padding-bottom: 1em;
	margin: 0;
}

img {
	margin: 0 auto;
	max-width: 100%;
	display: block;
	height: auto;
	padding-bottom: 1em;
}

#headline {
	text-align: center;
	font-size: 24px;
	margin: 50px 0;
}

ul {
	text-align: left;
	margin: 0 auto 50px auto;
	max-width: 600px;
}

li {
	margin: 18px 0;
}

#tribute-info {
	font-size: 17px;
}

blockquote {
	font-style: italic;
	max-width: 600px;
	text-align: left;
	margin: 0 auto 50px auto;
}

h3 {
	font-size: 24px;
}
